<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>

  .bar{
    fill: crimson;
  }

  .bar:hover{
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

</style>
<body>
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Carpool Database</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/calendar">Calendar View</a></li>
          <li><a href="/histogram">Histogram</a></li>
          <li><a href="/questions">Questions</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>


<div class="container">
  <div class="row">
    <div id="key" class="col-mid-10 col-md-offset-1">
    <div>
      <pre>
        SELECT a.id, (count(b.fromUser) + count(c.user)) useCount
        FROM user a
          JOIN offer b
            ON a.id = b.fromUser
          JOIN request c
            ON a.id = c.user
        group by a.id
        order by a.id;
      </pre>
    </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
      <script src="//d3js.org/d3.v3.min.js"></script>
      <script>
      var target = document.getElementById('key');
      var spinner = new Spinner({
        lines: 9, // The number of lines to draw
        length: 9, // The length of each line
        width: 5, // The line thickness
        radius: 14, // The radius of the inner circle
        color: '#EE3124', // #rgb or #rrggbb or array of colors
        speed: 1.9, // Rounds per second
        trail: 40, // Afterglow percentage
        className: 'spinner', // The CSS class to assign to the spinner
      }).spin(target);
      // set the dimensions of the canvas
      var margin = {top: 20, right: 20, bottom: 70, left: 40},
          width = 1000 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;


      // set the ranges
      var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

      var y = d3.scale.linear().range([height, 0]);

      // define the axis
      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")


      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .ticks(10);


      // add the SVG element
      var svg = d3.select("#key").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", 
                "translate(" + margin.left + "," + margin.top + ")");

      setTimeout(function(){
         // load the data
        d3.json("http://localhost:3000/histogramdata", function(error, data) {
            spinner.stop();
            data.forEach(function(d) {
                d.Letter = d.Letter;
                d.Freq = +d.Freq;
            });
          
          // scale the range of the data
          x.domain(data.map(function(d) { return d.Letter; }));
          y.domain([0, d3.max(data, function(d) { return d.Freq; })]);

          // add axis
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)
            .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", "-.55em")
              .attr("transform", "rotate(-90)" );

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 5)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Frequency");


          // Add bar chart
          svg.selectAll("bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return x(d.Letter); })
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.Freq); })
              .attr("height", function(d) { return height - y(d.Freq); });

        });
      }, 1500);
      
      </script>
    </div>
  </div>
</div>



</body>

