<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>

.chord {
  fill-opacity: .67;
}

</style>
<body>
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Carpool Database</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Traffic Map</a></li>
          <li><a href="/calendar">Calendar View</a></li>
          <li><a href="/histogram">Histogram</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>


<div class="container">
  <div class="row">
    <div id="key" class="col-mid-10 col-md-offset-1">
      <h1>Which path has the highest traffic?</h1>
      <pre>
        SELECT offer.startCityID, offer.endCityID

        import collections
        import heapq

        def main():
          # pretend we have sql connected, then we query from sql
          q = 'SELECT offer.startCityID, offer.endCityID;'
          data = queryFromSQL(q)

          #hash map to store index of locations
          locationIndex = collections.defaultDict()

          # build an index mapping from location to index
          for startLocation, endLocation in data:
            if not startLocation in locationIndex:
              locationIndex[len(locationIndex)] = startLocation
            if not endLocation in locationIndex:
              locationIndex[len(locationIndex)] = endLocation

          # create a n by n matrix to store the frequencies using list comprehension
          matrix = [[0 for _ in xrange(0,len(locationIndex))] for __ in xrange(0, len(locationIndex))]

          # count the frequency for each route
          for startLocation, endLocation in data:
            matrix[startLocation][endLocation] += 1

          # Then this matrix will store the frequency from one location to another
          # You can get the top 10 using a heap
          h = []

          # first we push matrix elements into the heap as (frequency, startIndex, endIndex) key-value pairs
          for i in xrange(0, len(matrix)):
            for j in xrange(0, len(matrix[i])):
              h.append((matrix[i][j],i,j))

          # now we can convert them into a heap
          heapq.heapify(h)

          # now we can get the top 10 (or any) elements in constant time
          return heapq.nlargest(10)

      </pre>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
      var target = document.getElementById('key');
      var spinner = new Spinner({
        lines: 9, // The number of lines to draw
        length: 9, // The length of each line
        width: 5, // The line thickness
        radius: 14, // The radius of the inner circle
        color: '#EE3124', // #rgb or #rrggbb or array of colors
        speed: 1.9, // Rounds per second
        trail: 40, // Afterglow percentage
        className: 'spinner', // The CSS class to assign to the spinner
      }).spin(target);

      var outerRadius = 960 / 2,
          innerRadius = outerRadius - 130;

      var fill = d3.scale.category20c();

      var chord = d3.layout.chord()
          .padding(.04)
          .sortSubgroups(d3.descending)
          .sortChords(d3.descending);

      var arc = d3.svg.arc()
          .innerRadius(innerRadius)
          .outerRadius(innerRadius + 20);

      var svg = d3.select("#key").append("svg")
          .attr("width", outerRadius * 2)
          .attr("height", outerRadius * 2)
        .append("g")
          .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")");

      d3.json("/citydata", function(error, imports) {
        spinner.stop();
        if (error) throw error;

        var indexByName = d3.map(),
            nameByIndex = d3.map(),
            matrix = [],
            n = 0;

        // Compute a unique index for each package name.
        imports.forEach(function(d) {
          if (!indexByName.has(d.startLocation)) {
            nameByIndex.set(n, d.startLocation);
            indexByName.set(d.startLocation, n++);
          }
          if (!indexByName.has(d.endLocation)) {
            nameByIndex.set(n, d.endLocation);
            indexByName.set(d.endLocation, n++);
          }
        });

        // Construct a square matrix counting package imports.
        imports.forEach(function(d) {
          var source = indexByName.get(d.startLocation),
              row = matrix[source];
          if (!row) {
           row = matrix[source] = [];
           for (var i = -1; ++i < n;) row[i] = 0;
          }
          //d.imports.forEach(function(d) { row[indexByName.get(d.endLocation)]++; });
        });

        //clean up data
        var newMatrix = matrix;
        matrix = [];
        var l = 15;
        for (var i = 0; i < l; i++) {
          matrix.splice(i, 0, []);
          for (var j = 0; j < l; j++){
            matrix[i].splice(j, 0, i + 1); 
          }
        }

        chord.matrix(matrix);

        var g = svg.selectAll(".group")
            .data(chord.groups)
          .enter().append("g")
            .attr("class", "group");

        g.append("path")
            .style("fill", function(d) { return fill(d.index); })
            .style("stroke", function(d) { return fill(d.index); })
            .attr("d", arc);

        g.append("text")
            .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
            .attr("dy", ".35em")
            .attr("transform", function(d) {
              return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
                  + "translate(" + (innerRadius + 26) + ")"
                  + (d.angle > Math.PI ? "rotate(180)" : "");
            })
            .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
            .text(function(d) { return nameByIndex.get(d.index); });

        svg.selectAll(".chord")
            .data(chord.chords)
          .enter().append("path")
            .attr("class", "chord")
            .style("stroke", function(d) { return d3.rgb(fill(d.source.index)).darker(); })
            .style("fill", function(d) { return fill(d.source.index); })
            .attr("d", d3.svg.chord().radius(innerRadius));

      });

      d3.select(self.frameElement).style("height", outerRadius * 2 + "px");

      </script>
    </div>
  </div>
</div>



</body>

